/********************************* TAG SELECTOR  ********************************************/

h1 {
  font-size: 100px;
  color: red;
  align-self: auto;
  color: blue;
}

/* 
img {
  background-color: red;
  height: 150px;
}
 */

/********************************** CLASS SELECTOR  ********************************************/

.bacon {
  background-color: red;
  height: 150px;
}

.broccolis {
  background-color: cadetblue;
}

.broccolis:hover {
  background-color: rgb(117, 0, 128);
}

.circular {
  border-radius: 75%;
}

/********************************** ID SELECTOR  ********************************************/

#paragrafo {
  color: crimson;
}

#heading {
  color: blueviolet;
}
