/***************************  TAG SELECTOR  ****************************************/

p {
    margin: 0;
}

h1 {
    margin-top: 0px;
}

body {
    margin: 0;
}


/***************************  CLASS SELECTOR  ****************************************/

.top-container {
    background-color: rgb(134, 227, 255);
    margin: 0;
    /* zera tudo colocando apenas 0 */

}

.middle-container {
    margin-top: 20px;
    height: 350px;
    width: 350px;
    background-color: blue;
}

.bottom-container {
    background-color: chocolate;
    height: 350px;
    width: 350px;
}